<div class="jumbotron">
    <h1>Рейтинг шаурмы</h1>
    <h3>Оценка шаурмы проводится с помошью голосования фотографиями шаурмы в Instagram</h3>
    <br/>
    <br/>

    <p>Для этого необходимо в подписи к фотографии указать тег #шаурма и оценку</p>
    <ul>
        <li>
            #шаурма 8 из 10
        </li>
        <li>
            #шаурма 2,5 из 10
        </li>
        <li>
            #шаурма 4 из 5
        </li>
        <li>
            #шаурма 4 / 5
        </li>
        <li>
            #шаурма 7.5/10
        </li>
    </ul>
</div>
<hr>
<br>
<br>
<br>
<h2>Последние обновления</h2>
<p>Слегка улучшен дизайн, добавлено распозвавание оценки в формате "#шаурма 7.5/10"</p>
<hr>
<br>
<br>
<br>
<h2>Предпоследние обновления</h2>
<p>Пофикшены некоторые баги. <br> Шаурма без оценки теперь не добавляется в систему. <br> Шаурма без указания места была удалена.</p>
<p>Теперь шаурма без указания места не будет попадать в систему. <br> Чуть позже будет отключено и отображение шаурмы
    без оценки.</p>