<div class="row controls">
    <div class="sort">
        <div class="sort__item button {{ $ctrl.shaurmaOptions.sort == 'grade' ? 'button_active' : ''}}"
             ng-click="$ctrl.setSort('grade')">Оценка <span ng-show="$ctrl.shaurmaOptions.sort == 'grade'"><i
                class="fa fa-angle-{{ $ctrl.shaurmaOptions.way === 'desc' ? 'down' : 'up' }}"></i></span></div>
        <div class="sort__item button {{ $ctrl.shaurmaOptions.sort == 'updated_at' ? 'button_active' : ''}}"
             ng-click="$ctrl.setSort('updated_at')">Дата <span
                ng-show="$ctrl.shaurmaOptions.sort == 'updated_at'"><i
                class="fa fa-angle-{{ $ctrl.shaurmaOptions.way === 'desc' ? 'down' : 'up' }}"></i></span></div>
    </div>
    <div class="sizes">
        <i class="sizes__icon fa fa-th-list fa-2x {{ $ctrl.uiOptions.size === 'list' ? 'active' : '' }}"
           aria-hidden="true"
           ng-click="$ctrl.setSize('list')"></i>
        <i class="sizes__icon fa fa-th fa-2x {{ $ctrl.uiOptions.size === 'normal' ? 'active' : '' }}" aria-hidden="true"
           ng-click="$ctrl.setSize('normal')"></i>
        <i class="sizes__icon fa fa-th-large fa-2x {{ $ctrl.uiOptions.size === 'large' ? 'active' : '' }}"
           aria-hidden="true"
           ng-click="$ctrl.setSize('large')"></i>
    </div>
</div>

<div class="row">
    <div class="list" scroll-ends="$ctrl.load()" threshold="100">
        <shaurma-detail class="shaurma-detail shaurma-detail_{{  $ctrl.uiOptions.size }}" ng-repeat="shaurma in $ctrl.shaurmas"
                        shaurma="shaurma" on-delete="$ctrl.delete(shaurma)"></shaurma-detail>
    </div>
</div>

<div class="row row_center">
    <div class="button" ng-click="$ctrl.load()" ng-show="$ctrl.canLoad">
        <i class="fa fa-cog fa-spin" ng-show="$ctrl.isLoading"></i> <span>Загрузить еще</span>
    </div>
</div>