<!DOCTYPE html>
<html lang="ru" ng-app="catering" ng-controller="MainController as app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Рейтинг шаурмы</title>
    <meta name="description" content="Рейтинг шаурмы">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="bundle/main.css?v=104f6">
    <link rel="icon" type="image/png" href="favicon.png?v=104f6">
</head>
<body>

<div class="nav-bar" ng-controller="NavBarController as navbar">
    <div class="container">
        <a href="#/" class="nav-bar__logo">
            Рейтинг шаурмы
        </a>
        <div class="menu mb-hide" auto-active>
            <div class="menu__item">
                <a href="#/about" class="menu__link">О сервисе</a>
            </div>
            <div class="menu__item">
                <a href="https://vk.com/shaurmaapp" class="menu__link"><i class="fa fa-vk"></i></a>
            </div>
            <div class="menu__item">
                <a href="https://www.instagram.com/shaurmaapp" class="menu__link"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="user" ng-controller="AuthController as auth">
            <div ng-if="!auth.data.user">
                <span ng-click="auth.loginDialog()" class="user__sign-in"><i class="fa fa-sign-in fa-fw"></i>&nbsp; Вход</span>
            </div>
            <div ng-if="auth.data.user">
                <div class="user__list">
                    <div class="user__name">
                        <img class="user__image" ng-src="{{ auth.data.user.profile_picture }}"
                             alt="{{ auth.data.user.username }}" width="30" height="30">
                        <span ng-bind="auth.data.user.username"></span>
                    </div>
                    <div class="user__items">
                        <div class="user__item">
                            <a href="#/logout" ng-click="auth.logout()" class="user__link" title="Выход">
                                Выход
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" role="main" ng-view></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwVVCdxCNhrVcPgjCS-8pLJk2197oA7Ko&language=ru&v=3.exp"></script>
<script src="bundle/common.js?v=104f6"></script>
<script src="bundle/main.js?v=104f6"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter1381591 = new Ya.Metrika({
                    id: 1381591,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    trackHash: true,
                    ut: "noindex"
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/1381591?ut=noindex" style="position:absolute; left:-9999px;" alt=""/>
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
