<div class="row">
    <ui-select ng-model="$ctrl.address"
               theme="select2"
               ng-disabled="disabled"
               reset-search-input="false"
               on-select="$ctrl.updateAddress()">
        <ui-select-match placeholder="Поиск по адресу">{{$select.selected.formatted_address}}</ui-select-match>
        <ui-select-choices repeat="address in $ctrl.addresses track by $index"
                           refresh="$ctrl.refreshAddresses($select.search)"
                           refresh-delay="200">
            <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>

    <div class="button" ng-click="$ctrl.resetAddress()" ng-show="$ctrl.address">Сбросить</div>
</div>
<div class="row controls">
    <div class="sort">
        <div class="sort__item button {{ $ctrl.locationOptions.sort == 'grade' ? 'button_active' : ''}}"
             ng-click="$ctrl.setSort('grade')">Оценка <span ng-show="$ctrl.locationOptions.sort == 'grade'"><i
                class="fa fa-angle-{{ $ctrl.locationOptions.way === 'desc' ? 'down' : 'up' }}"></i></span></div>
        <div class="sort__item button {{ $ctrl.locationOptions.sort == 'updated_at' ? 'button_active' : ''}}"
             ng-click="$ctrl.setSort('updated_at')">Дата <span
                ng-show="$ctrl.locationOptions.sort == 'updated_at'"><i
                class="fa fa-angle-{{ $ctrl.locationOptions.way === 'desc' ? 'down' : 'up' }}"></i></span></div>
    </div>
    <div class="sizes">
        <i class="sizes__icon sizes__icon_list fa fa-th-list fa-2x {{ $ctrl.uiOptions.size === 'list' ? 'active' : '' }}"
           aria-hidden="true"
           ng-click="$ctrl.setSize('list')"></i>
        <i class="sizes__icon fa fa-th fa-2x {{ $ctrl.uiOptions.size === 'normal' ? 'active' : '' }}" aria-hidden="true"
           ng-click="$ctrl.setSize('normal')"></i>
        <i class="sizes__icon fa fa-th-large fa-2x {{ $ctrl.uiOptions.size === 'large' ? 'active' : '' }}"
           aria-hidden="true"
           ng-click="$ctrl.setSize('large')"></i>
    </div>
</div>

<div class="row">
    <div class="list" scroll-ends="$ctrl.load()" threshold="100">
        <location-detail class="location-detail location-detail_{{ $ctrl.uiOptions.size }}" ng-repeat="location in $ctrl.locations"
                         location="location" on-delete="$ctrl.delete(location)"></location-detail>
    </div>
</div>

<div class="row row_center" ng-show="$ctrl.canLoad">
    <div class="button" ng-click="$ctrl.load()">
        <i class="fa fa-cog fa-spin" ng-show="$ctrl.loading"></i> <span>Загрузить еще</span>
    </div>
</div>