.controls {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sizes {
  &__icon {
    margin-left: 4px;
    font-size: 30px;
    color: #1c2729;
    transition: all ease-in-out 0.15s;

    &.active {
      color: deepskyblue;
    }

    &:hover {
      color: dodgerblue;
    }
  }
}

.sort {
  display: flex;
  flex-direction: row;

  &__item {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .sizes {
    margin-bottom: 12px;
    margin-left: auto;

    &__icon {
      font-size: 30px;

      &_list {
        display: none;
      }
    }
  }
}