<div class="container">
    <form class="form" ng-submit="auth.login(username, password)" ng-show="!auth.data.user">
        <h2 class="form__heading">Вход</h2>

        <div class="form__group">
            <label for="username" class="form__label">Логин</label>
            <input type="username" id="username" ng-model="username" class="form__control"
                   placeholder="Логин" required autofocus>
        </div>
        <div class="form__group">
            <label for="password" class="form__label">Пароль</label>
            <input type="password" id="password" ng-model="password" class="form__control"
                   placeholder="Пароль" required>
        </div>
        <div class="form__group form__group_button">
            <button class="button" type="submit">Вход</button>
        </div>
    </form>

    <form class="form" ng-submit="auth.logout()" ng-show="auth.data.user">
        <div class="form__group">
            <img src="{{ auth.data.user.profile_picture }}"
                 alt="{{ auth.data.user.username }}" width="150" height="150">
        </div>
        <div class="form__group">
            {{ auth.data.user.username }} ({{ auth.data.user.role }})
        </div>
        <div class="form__group">
            <button class="button" type="submit">Выход</button>
        </div>
    </form>
</div>