<span class="location-detail__label" style="color: {{ $ctrl.location.color }}"><span class="location-detail__label-text">{{ $ctrl.location.grade }}</span></span>
<a ng-href="#/locations/{{ $ctrl.location._id }}" class="location-detail__link">
    <img ng-src="{{ $ctrl.location.shaurmas[0].low_resolution }}" alt="{{ $ctrl.location.grade }}" class="location-detail__image">
</a>
<div class="location-detail__bottom">
    <div class="location-detail__name">{{ $ctrl.location.name }}</div>
    <div class="location-detail__stats">{{ $ctrl.location.count ? $ctrl.location.count : 'Нет' }} {{ $ctrl.declOfNum($ctrl.location.count, ['оценка','оценки','оценок']) }}</div>
</div>
<a class="location-detail__admin" ng-click="$ctrl.onDelete({location: $ctrl.location})" ng-show="$ctrl.auth.user.role === 'master'">
    <span class="fa fa-remove fa-fw" aria-hidden="true"></span>
</a>
<a class="location-detail__edit" ng-click="$ctrl.onEdit({location: $ctrl.location})" ng-show="$ctrl.auth.user.role === 'master'">
    <span class="fa fa-pencil fa-fw" aria-hidden="true"></span>
</a>