<h1>
    {{ ShaurmaPageCtrl.location.name }}
    <span class="right label label-{{ ShaurmaPageCtrl.location.className }}" style="float: right;">
        <span ng-if="ShaurmaPageCtrl.location.grade == '0.00'">Нет оценок</span>
        <span ng-if="ShaurmaPageCtrl.location.grade != '0.00'"><span
                class="glyphicon glyphicon-thumbs-{{ ShaurmaPageCtrl.location.grade > 5 ? 'up' : 'down' }}"
                aria-hidden="true"></span> {{ ShaurmaPageCtrl.location.grade }} из 10</span>
    </span>
</h1>
<br>
<hr>
<br>
<shaurma-list location-id="ShaurmaPageCtrl.locationId"></shaurma-list>