<span class="shaurma-detail__label" style="color: {{ $ctrl.shaurma.color }}"><span class="shaurma-detail__label-text">{{ $ctrl.shaurma.grade }}</span></span>
<a ng-href="{{ $ctrl.shaurma.link }}" class="shaurma-detail__link">
    <img ng-src="{{ $ctrl.shaurma.low_resolution }}" alt="{{ $ctrl.shaurma.grade }}" class="shaurma-detail__image">
</a>
<div class="shaurma-detail__bottom">
    <div class="shaurma-detail__name">By {{ $ctrl.shaurma.username }}</div>
</div>
<a class="shaurma-detail__admin" ng-click="$ctrl.onDelete({ shaurma: $ctrl.shaurma })"
   ng-show="$ctrl.auth.user.role === 'master'">
    <span class="fa fa-remove fa-fw" aria-hidden="true"></span>
</a>
<a class="shaurma-detail__edit" ng-click="$ctrl.onEdit({ shaurma: $ctrl.shaurma })"
   ng-show="$ctrl.auth.user.role === 'master'">
    <span class="fa fa-pencil fa-fw" aria-hidden="true"></span>
</a>