.shaurma-detail {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d2d6d5;
  display: inline-block;
  transition: all ease-in-out 0.15s;
  padding: 20rem;

  &_list {
    width: 19%;
    padding-top: 19%;
    margin-bottom: 2%;
  }

  &_normal {
    width: 24.4791667%;
    padding-top: 24.4791667%;;
    margin-bottom: 20rem;
  }

  &_large {
    width: 47%;
    padding-top: 47%;
    margin-bottom: 6%;
  }

  &:hover {
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  }

  &__link {
    position: absolute;
    top: 20rem;
    left: 20rem;
    width: calc(100% - 40rem);
    padding-top: 100%;
    text-decoration: none;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
  }

  &__bottom {
    margin-top: -10rem;
  }

  &__label {
    position: absolute;
    right: (20 / 230 * 100%);
    top: -10rem;
    font-size: 16rem;
    font-weight: 700;
    color: black;

    &-text {
      position: relative;
    }

    &:before {
      display: inline-block;
      content: '';
      z-index: 0;
      top: 0;
      left: -20%;
      height: 100%;
      width: 140%;
      position: absolute;
      background-color: #e1e3e4;
    }
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all ease-in-out 0.15s;
    font-weight: 300;
  }

  &__admin,
  &__edit {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #d2d6d5;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    left: 8px;
    top: -13px;
    background-color: white;
    transition: all ease-in-out 0.15s;
    opacity: 0.75;
    color: crimson;

    &:hover {
      opacity: 1;
    }
  }

  &__edit {
    left: 38px;
    color: dodgerblue;
  }
}

@media (max-width: 768px) {
  .shaurma-detail {
    &_list {
      width: 30%;
      padding-top: 30%;
      margin-bottom: 4%;
    }

    &_normal {
      width: 47%;
      padding-top: 47%;
      margin-bottom: 6%;
    }

    &_large {
      width: 100%;
      padding-top: 100%;
      margin-bottom: 6%;
    }
  }
}