@import "reset";
@import "../../../node_modules/ng-dialog/css/ngDialog.min.css";
@import "../../../node_modules/ng-dialog/css/ngDialog-theme-default.css";

$OpenSans: 'Open Sans',  Helvetica, Arial, sans-serif;
$Roboto: 'Open Sans',  Helvetica, Arial, sans-serif;

$white: #FFFFFF;
$black: #000000;
$gray: #424242;
$mediumGray: #ABABAB;
$green: #1fa67a;
$pink: #c69;
$blue: #4285f4;

$lightGray: #d2d6d5;
$platinum: #e1e3e4;
$mineShaft: #303332;
$gunSmoke: #7b8486;

@mixin transition() {
  transition: all 0.15s ease-in-out;
}

html {
  background: $platinum;
  background-size: cover;
  font-size: 1px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 16rem $OpenSans;
  padding-top: 96px;
  cursor: default;
  box-sizing: border-box;

  &.ngdialog-open .nav-bar {
    right: 15px;
  }
}

.select2-container {
  min-width: 300rem;
}

.select2-drop,
.select2-dropdown-open .select2-choice,
.select2-container .select2-choice {
  background: #e1e3e4;
  color: #7b8486;
  font-size: 14px;
}

.ui-select-choices-row.ui-select-choices-row:hover {
  background-color: #7b8486;
  color: #e1e3e4;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

*[ng-click] {
  cursor: pointer;
}

.animate {
  transition: all 0.15s ease-in-out;
}

.container {
  box-sizing: border-box;
  padding: 0 5px;
  max-width: 960px;
  margin: 0 auto 0;
}

.row {
  margin-bottom: 24px;

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: auto;
  height: 40rem;
  line-height: 40rem;
  background-color: $lightGray;
  //overflow: hidden;

  & > div {
    display: flex;
  }

  &__logo {
    position: relative;
    font-size: 18px;
    color: $gray;
    @include transition();

    &:before {
      position: absolute;
      content: '';
      background: url("../../../images/logo.png") no-repeat;
      background-size: 100%;
      width: 30px;
      height: 43px;
      display: block;
      left: -35px;
      top: 15px;
      @include transition();
    }

    &:hover {
      //color: dodgerblue;

      &:before {
        transform: translate(5px, -10px);
      }
    }
  }
}

.menu {
  height: 100%;
  margin-left: 36px;

  &__item {
    display: inline-flex;
    background-color: transparent;
    @include transition();

    &_active {
      background-color: $lightGray;
    }
  }

  &__link {
    padding: 0 12px;
    color: $gray;
    border-bottom: 1px solid transparent;
    @include transition();

    &:hover {
      border-bottom-color: currentColor;
    }
  }
}

.user {
  margin-left: auto;
  display: flex;

  &:hover {
    .user__items {
      display: flex;
    }
  }

  &__list {
    display: block;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 12px;
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  &__items {
    display: none;
    background: $white;
  }

  &__item {
    width: 100%;
    padding-left: 42px;

    &:hover {
      background-color: $lightGray;
    }
  }

  &__sign-in {
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: $gray;

    &:hover {
      background-color: $lightGray;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: $gray;
    border-bottom: 1px solid transparent;
    @include transition();
  }

  &__city {
    margin-right: 36px;
  }
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid $lightGray;
  border-radius: 4px;
  padding: 0 20rem;
  height: 30rem;
  min-width: 140rem;
  font: 14rem $Roboto;
  line-height: 26rem;
  background: $platinum;
  color: $gunSmoke;
  text-align: center;
  cursor: pointer;
  @include transition();
  margin-left: 20rem;

  &:hover {
    color: $black;
  }

  &:nth-of-type(1) {
    margin-left: 0;
  }

  &_small {
    min-width: initial;
  }

  &_active,
  &:active {
    background-color: $lightGray;
  }
}

.form {
  &__heading {
    font-size: 18px;
    margin-bottom: 12px;
  }

  &__label {
    display: inline-block;
    width: 60px;
    text-align: left;
  }

  &__group {
    margin-bottom: 12px;
    text-align: center;

    &_button {
      text-align: left;
      padding-left: 138px;
    }
  }

  &__control {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $mediumGray;
    border-radius: 4px;
    padding: 0 12px;
    min-width: 140px;
    font: 13px $OpenSans;
    line-height: 28px;
    background: $white;
    color: $gray;
    @include transition();
  }

  &_search {
    display: inline-flex;

    .form__control {
      width: 100px;
      margin-left: 24px;
    }

    .button {
      margin-left: 24px;
    }
  }
}

@media (max-width: 768px) {
  .select2-container {
    min-width: inherit;
  }

  .mb-hide {
    display: none;
  }

  body {
    &.ngdialog-open .nav-bar {
      right: 0px;
    }
  }

  .button {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 12px;

    &_small {
      display: inline-block;
      min-width: inherit;
      width: auto;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .ui-select-container {
    margin-bottom: 12px;
    width: 100%;
  }
}